<!--> body {
    background-color: #ECECEA;
}

<---> div#root {
    margin: 0 auto;
    width: 50%;
}

img {
    width: 32px;
}

span {
    padding: 20px 5px;
}

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #ccc0b8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: #efefef;
}

table tr:hover td {
    color: #555;
}

table tr th,
table tr td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

table tr th {
    background: #619d9f;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table tr th.last {
    border-right: none;
}

table tr th:nth-last-child(-n+2) {
    cursor: pointer;
}

table tr th:nth-last-child(-n+2):hover {
    background: #427370;
}

table tr th span.noTriangle {
    visibility: hidden;
}


/*# sourceMappingURL=style.css.map */
