div #root {
    margin: 0 auto;
    width: 100%;
}

img {
    width: 32px;
}

span {
    padding: 20px 15px;
}

table {
    background: #2c111c;
    color: #eee;
    font-family: 'Arial';
    font-size: 18px;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #90e490;
    border-bottom: 2px solid #90e490;
    box-shadow: 0px 0px 60px rgba(78, 239, 153, 0.82), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr th,
table tr td {
    border: 1px solid #90e490;
}

tr {
    &:hover {
        background: #efefef;
        td {
            color: red;
        }
    }
    th,
    td {
        color: #619d9f;
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
    }
    th {
        background: #619d9f;
        color: green;
        text-transform: uppercase;
        font-size: 16px;
        &.last {
            border-right: none;
        }
        &:nth-last-child(-n+2) {
            cursor: pointer;
            &:hover {
                background: #427370;
            }
        }
        span.noTriangle {
            visibility: hidden;
        }
    }
}


}
@media (max-width: 979px) {
    div#root {
        margin: 0 auto;
        width: 100%;
    }
}
@media (max-width: 767px) {
    div#root {
        margin: 0 auto;
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */
