/***** BASE CSS *****/


/* Site Name */

#divSiteTitle {
  text-decoration:none;
}

#divTagLine {
  text-decoration:none;
}


/* Headline Text */

#divHeaderLine1 {
  display:inline-block !important
}

#divHeaderLine2 {
  display:inline-block !important
}

#divHeaderLine3 {
  display:inline-block !important
}


/* Headings */
  h3{
    color:#987E7E;
  }
  
  h4,
  h5,
  h6 {
    line-height:1.5 !important;
    color:#7690ab
  }

.lead {
    text-align:center;
}

.lead h2 {
    font-size:33px;
    line-height:45px;
}

.lead h3 {
    font-size:17px; 
}

.lead h3 a {
    font-size:inherit !important;
}

 .image-2 {
      background: silver;
      width: 1000px;
      color: #800000;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: 22px;
      border: 2px solid #6E6E6E;
      box-shadow: 0 0 0 6px #987E7E, 0 0 4px 6px;
      border-radius: 8px;
      position: relative;
      margin-top:-275px;
      max-width: 5%;
      height: auto;
      width: auto\9;

}

/*kontakty*/
  #plyt,
  #plyt-1,
  #plyt-2 {
      position: relative;
      border: 2px solid #6E6E6E;
      border-radius: 5px;
      background: #808080;
      color: #fff;
      text-align: center;
      font-size: 12px
  }
  
  .page-headline {
      font-size: 26px;
      margin: 5px 0 0 0;
  }
  
  .pag {
      display: inline-block;
      font-size: 32px;
      color: #2F687C;
      position: relative;
      text-align: center;
      left: 350px;
      top: 0px;
  }
  
  .par {
      padding: 2px 3px 2px 3px;
  }
  
  .par p {
      text-align: center;
  }
  
  .par1 p {
      text-align: center;
      border-style: none;
      margin: 0 auto;
  }
  .par2{
    width: 996px;
    margin: 0 auto;
    padding:6px;
    border-top-right-radius: 5px;
    border-radius: 5px;
  }
    figure.img {
      border-style: 4px solid green;
      box-shadow: 0 0 0 6px #624545, 0 0 4px 6px;
  }
  
  figcaption {
      text-align: center;
  }
  
 
    }
  .footer{
      background-color: #696969;
      color: white;
      max-height: 30px;
      border: 3px solid #6E6E6E;
      box-shadow: 0 0 0 6px #c0c0c0, 0 0 4px 6px;
      border-radius: 8px;
      padding:1px 0;
      margin:0 auto;
      width:1000px;

  }
.glyphicon {
  position: relative;
  top: 1px;
  left: 1px;
  display: inline;
  margin-left:20px;
  padding-left: 20px;
  color: rgb(115, 139, 162);
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#img-n,
#img-nn{
 margin:20px 0px 20px 0px;
}
/* Grid */

#tiles li {
width:290px !important;
background-color: #ffffff;
border: 2px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;
margin-bottom:7px;
float:left;
}

#tiles li img {
  margin-bottom:10px;
}

#tiles li div.meta {
  color:#999;
  text-transform:uppercase;
  font-size:10px;margin:0;
}

#tiles li h4 {
  line-height:1.5;
  margin:0 0 5px 0;
}

#tiles li h4 a {
  line-height:inherit;
  margin:0;
  text-decoration:inherit;
  color:inherit;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
}

#tiles li p {
  font-size:12px;
  line-height:1.5;
  margin:0;
}

#tiles li a {
  font-size:12px;
}

#tiles li .more_link {
  font-size:smaller;
  line-height:2;
  text-transform:uppercase;
  letter-spacing:2px;
  white-space:nowrap;
  display:block;
  margin: 5px 0 0 0;
}

#tiles li blockquote {
  line-height:1.5;
  margin:0;padding:0;
  color:#883116;
  border:none;
  font-size:150%;
  font-style:italic;
  font-family:Georgia, Times, serif;
}

#tiles li blockquote small {
  font-size:11px;font-style:normal;
}


/* Menu */
#Logo{
  position: fixed;
  padding:5px 0 0 10px;
  margin-top:0px;
  margin-left:1%;
}
 #menu {
      position: fixed;
      top: -1px;
      padding: 3px 0;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      z-index: 100;
     
  }
  
  #menu ul {
      padding-top: 10px;
      margin: 0 0 0 50px;
  }
  
  #menu li {
      display: inline;
      list-style: none;
      margin: 5px 10px;
  }
  
  #menu li a {
      padding: 5px 10px;
      color: #f0f8ff;
      text-decoration: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
  }
  
  #menu li a:hover {
      background: #36c;
      color: #ff0;
      -webkit-transition-property: color, background;
      -webkit-transition-duration: 0.5s, 0.5s;
  }
  
  #menu.default {
      width: 80%;
  }

/* Responsive Image */

img {
    position: relative;
    max-width:100%;
    height:auto;
    width:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0 auto;
}
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7{
text-indent: 0px;
border: 1px solid #888;
-moz-transition: all 2s ease-out;
-o-transition: all 2s ease-out;
-webkit-transition: all 2s ease-out;
color: #c0c0c0;
cursor: pointer;
}

  #box1:hover,
  #box2:hover,
  #box3:hover,
  #box4:hover,
  #box5:hover,
  #box6:hover,
  #box7:hover{
  -webkit-transform: scale(1.2) ;
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  z-index: 5
}
 
.img-polaroid{
    max-width: 100%;
    height: auto;
    width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.image-3{
    position: relative;
    margin-top:-60px;
    max-width: 100%;
    height: auto;
    width: auto\9; 
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }

    }

    
/* Additional */
    
#divBoxed {position:relative}
 

  #divHeaderLine1 a,
  #divHeaderLine2 a,
  #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

  #divHeaderLine1,
  #divHeaderLine2,
  #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit !important;
}


.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
.gridArea{
    max-width: 980px;
}
 .cap1 div,
 .cap2 div, 
 .cap3 div,
 .cap4 div,
 .cap5 div {
    margin: 0 -1px;
}


/* Adjustments */

.search.adjust {
  margin-bottom:15px
}
      
.divPanel {
    width: 100%;
    margin: 0 auto;
}

.divPanel.notop {
    padding-top:10px
}

.divPanel.nobottom {
    padding-bottom:0px;
    margin: 0 auto;
}


/***** BOOTSTRAP CSS BASE OVERRIDE *****/

  body {
      background-origin: initial;
      background-clip: initial;
      background-color:transparent;
      background-position: initial initial;
      background-repeat: initial initial;
      background-image: url(../img/images.jpeg);
      background-attachment: fixed;
      border: 4px solid #6E6E6E;
      box-shadow: 0 0 0 6px #987E7E, 0 0 4px 6px;
      border-radius: 8px;
      width: 100%;
  }

.icon-about:after {
  content: " ";
  display:inline-block;
  height: 20px;
  width: 30px;
  background: url("../favicon2.png");
  background-repeat:no-repeat; 
}

.block1 > span {
  width: 100%;
  font-weight: 700;
  font-size: 0.65em;
  color: #c0c0c0;
  position: relative;
  z-index: 100;
  display: block;
  padding: 0 0 .69em .1em;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.block1 > span span:after {
  font-size: 75%;
  position: relative;
  left: -12px;
  width:40px;
  height: 30px;
  cursor: help;
  color: transparent;
}

.block1 > span span:hover:before {
  content: attr(data-content);
  font-size: 110%;
  font-weight: 700;
  line-height: 1.2;
  max-width: 500px;
  position: absolute;
  left: auto;
  margin-left: 4px;
  padding: .8em 1em;
  text-align: left;
  text-indent: 0;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
  background: #5C5EDC;
}

.icon-about:after {
     padding-top: 5px;
     display:inline-block;
     height: 22px;
     width: 20px;
     content: '\e003';
}

#divSiteTitle {
    position: fixed;
    font-family:Aldrich, sans-serif;
    color:#800000;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.298039) 2px 4px 3px;
    line-height: 80px;
    letter-spacing: 8px; 
    text-transform: none; 
    font-weight: bold; 
    font-style: normal;
    text-decoration: none;
    padding-left:0;
    padding-top: -150px;
    margin-top: -50px
}

#divTagLine {
   font-family: Aldrich, sans-serif;
   font-size: 18px; 
   text-transform: uppercase; 
   letter-spacing: 5px;
   line-height: 70px;
   color:yellow; 
   text-shadow: none; 
   padding-left: 40px;
   padding-right: 0px;
   font-weight: normal; 
   font-style: normal; 
   background-color: transparent;
}

#menu-item-1,
#menu-item-2,
#menu-item-3,
#menu-item-4,
#menu-item-5,
#menu-item-6,
#menu-item-7{
    font-size: 1.5em;
    color: #987E7E;
    cursor: pointer;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
ul p{
  font-size: 32px;
}
h1 {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 61px;
    margin-top: 0px; 
    color:#5C1943;
    text-transform: none;
    text-align:center
      }

.page-content {
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }

.page-content a {
    color: #883116; 
    font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     line-height: 29px;
 }

#decorative1 {
    background-color:#dcdcdc;
    background-image: url(gray_jean.png);
    background-size: auto;
    -webkit-background-size: cover;
     background-repeat: repeat repeat;
    }

#decorative2{
    height: 0px;
    background-color:;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);

 }
#plyt{
    font-family: 'Open Sans', sans-serif;
    background-color:#778899;
    color: #c0c0c0;
    font-size: 24px;
}
#divFooter {
    font-family: 'Open Sans', sans-serif;
    background-color:#778899;
    color: #c0c0c0;
    padding-top:2px;
    line-height: 23px; 
    font-size: 12px;
    text-transform: none;
    background-image: url(../img/images1.jpeg);
    min-height: 160px;
    background-repeat: repeat repeat;
       }

#divFooter a {
    color:#ffffe0;
}

#divFooter h3 {
    color: rgb(180, 173, 173);
}

h2 {
    font-weight: normal; 
    font-style: normal; 
    font-family: 'Open Sans';
    font-size: 35px;
    line-height: 50px; 
    text-transform: none;
    text-align: center;
    color:#5C1943
  }

.breadcrumbs {
  line-height: 80px; 
  font-family: 'Open Sans', sans-serif;
}

.breadcrumbs a {
   color:#883116;
   font-family: 'Open Sans', sans-serif;
 }

#divHeaderLine1{
   letter-spacing: -1px;
   word-spacing: 0px;
   margin-top: 31px;
   color: rgb(142, 176, 55);
   font-size: 51px;
   line-height: 55px;      
   font-family: Pacifico;
   text-transform: none;
   text-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px;
   font-weight: normal;
   font-style: normal;
   text-align: left;
   opacity: 1;
   padding: 0px;
   background-image: none;
              }

#divHeaderLine2 {
   font-size: 21px;
   line-height: 27px;
   letter-spacing: 1px;
   margin-top: 22px;
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   color: #883116;
   text-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px;
   text-align: left;
   font-weight: normal;
   font-style: italic;
   padding: 0px;
   background-image: none;
   background-position: initial initial;
   background-repeat: initial initial;
   z-index: 1010;
        }

#divHeaderLine3{
    margin-top: 15px; 
    color: #883116;
    text-align: left;
    text-transform: none;
    letter-spacing: 2px;
    font-size: 14px; 
    line-height: 28px;
   }



  #divHeaderText {
     border-color: rgb(51, 51, 51);
     padding-top: 143px;
     padding-bottom: 0px;
  }

#decorative1 {
    -webkit-background-size:auto;
    -moz-background-size:auto;
    -o-background-size:auto;
    background-size:auto;
}

#contentOuterSeparator{
     margin-top: 55px;
     border-top-color: rgb(237, 237, 237);
     border-top-width: 0px;
     border-top-style: solid;
     margin-bottom: 45px; 
     height: 20px;
     background-color: transparent; 
  
     }


#footerOuterSeparator{
      margin-top: 0;
      border-top-width: 1px;
      border-top-style: solid; 
      border-top-color: #f5f5f5;
  }

#headerSeparator{
     margin-top: 0px;
     border-top-color: rgb(51, 51, 51);
     border-top-width: 0px;
     border-top-style: solid;
   }

h3,
.page-content h3 a {
   font-weight: normal;
   font-style: normal;
   font-family: 'Open Sans';
   font-size: 24px;
   line-height: 36px;
   text-transform: none;
     }

h4,.page-content h4 a {
     font-weight: normal;
     font-style: normal;
     font-family: 'Open Sans';
     font-size: 21px;
     line-height: 50px;
     text-transform: none;
     }

h5,.page-content h5 a {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 50px;
    text-transform: none;
     }

h6,.page-content h6 a {
  font-weight: normal;
   font-style: normal;
    font-family: 'Open Sans'; 
    font-size: 15px; 
    line-height: 50px;
     text-transform: none;
   }

.line-separator{
     border-top-width: 1px;
     border-top-style: solid;
     margin-top: 21px;
     margin-bottom: 21px;
     border-top-color: rgb(234, 234, 234);
     border-bottom-color: rgb(255, 255, 255);
     border-bottom-width: 1px;
     border-bottom-style: solid;
          }

#headerSeparator2{
     margin-top: 16px;
     margin-bottom: 1px; 
     border-top-color: rgb(51, 51, 51);
     border-top-width: 0px;
     border-top-style: solid;
  }

 body {
    position: relative;
    padding-top:-1px;
    width:1000px;
    margin:15px auto 0;
}

.lead h2 {
    font-size: 41px;
    line-height: 61px; 
    font-family: 'Open Sans';
}

.lead h3 {
    font-size: 1.8em; 
    line-height: 34px; 
    font-family: 'Open Sans';
}

#decorative1 {
  position:relative;
    -webkit-background-size:auto;
    -moz-background-size:auto;
    -o-background-size:auto;
    background-size:auto;
}
#decorative2 {
    position:relative;
    left:0;
    right:0;
     background-color:#dcdcdc;
    z-index:1032
}
p{
  color: #7690ab;

}
 p.copyright {

  font-size: 8px;
  text-align: center;
}
@media (max-width: 979px) {
     #divLogo {
        margin-bottom:0px;
        margin-top: -150px;
    }

 
  

  /* #googleMap{
     height:400px;
     margin-right: 3px;
     position:relative;             
   }

    /* Fixed Top */

    #decorative2 {
      position:absolute;
        height:auto;
      }

    body {
        padding-top:0px;
        margin: 0 auto;
        position: relative;
        width: auto;
    }
 figure .img{
      border-style: 4px solid green;
      box-shadow: 0 0 0 6px #fff, 0 0 4px 6px;
 }
}

@media (max-width: 767px) {    
 

    #divSiteTitle {
      font-size: 6px;
    }
    #divHeaderText {
      margin:0px;padding:50px 0px;
    }
   
    #divHeaderLine1 {
      margin-top: 0px;
    }
   
    
    #decorative1,
    #decorative2,
    #decorative3 {
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        padding-right:20px;
      }

    
    /* Fixed Top */

    #decorative2 {
      position:absolute;
    }

 
  body {
      padding-top:0px;
      background-attachment: fixed;
      width: auto;
  }
    
    #divFooter {
        margin-left:0px;
        margin-right:0px;
        padding-left:20px;
        padding-right:20px;
    }
    
    #divBoxed > #divFooter {
      margin-left:0px;
      margin-right:0px;
      padding-left:0px;
      padding-right:0px;
    }

    
    body > #footerOuterSeparator,
    body > #contentOuterSeparator {
      margin-left:-20px;
      margin-right:-20px;
    }

    
    .headerArea, .topArea {
      padding:20px !important;
    }
 /*only for templates without divBoxed*/

  
  

}
.image-2{
    position: relative;
    max-width: 100%;
    height: auto;
    margin:40px  auto;
    width: auto\9; 
}
#parkan{
  display:none!important;
}
 
}
