     
  figcaption {
      text-align: center;
  }
  
  figure .img {
      border-style: 4px solid yellow;
      box-shadow: 0 0 0 6px #9c8282, 0 0 4px 6px;
  }
  
  img {
      margin: 2px 2px;
      border: 2px solid yellow;
  }
  
  .table {
     max-width: 100%;
  }
  
  .table{
      margin: 10px auto;
      border:#6986af 6px ridge;
      border-collapse: collapse;
    
  }
 
  
  td,
  th,
  tr {
      border: #b8860b 2px outset;
      padding: 3px;
      text-align: center;
  }
  
  caption {
      font: italic bold 16px Arial;
      padding: 10px;
      color:#7690ab;
  }
  
  thead {
      background-color: #7690ab;
      text-align: center;
  }
  
  tbody {
      background-color: #6382a2;
      text-align: left;
  }
  
  tfoot {
      background-color: #f5f5dc;
      text-align: left;
      font: italic 14px Arial;
  }
  
 

#img-n,
#img-nn{
 margin:20px 0px 20px 45px;
}
 
  .par {
      padding: 2px 3px 2px 3px;
  }
  
  .par p {
      text-align: center;
  }
  
  .par1 p {
      text-align: center;
      border-style: none;
      margin: 0 auto;
  }
  .par1{
   width: 100% 
  }
  .par2{
    width: 996px;
    margin: 0 auto;
    padding:6px;
    border-top-right-radius: 5px;
    border-radius: 5px;
  }
@media (max-width: 979px) { 
   .table {
      width: 100%;
  }
}
@media (max-width: 767px) {    
 .table {
     width: 50%;
  }
  }